
<section id="about">
    <h2>About</h2>
    <p>
        My name is Alexi. I am passionate about discovering how we can replicate biological intelligence in computers.         
        <br><br>
        To achieve this, I am currently working on several research directions broadly revolving around World Models including Self-Supervised Learning, Reasoning/System 2 Thinking/Inference Time Compute, Planning, and Multimodal Learning.
        <br><br>
        When I'm not working, I love working out, climbing, and running. I also enjoy spending time exploring other disciplines--including cognitive science, computational neuroscience, physics, and psychology. At my core, I am a philosophical scientist seeking to understand the universe we live in. 
        <br><br>
        Feel free to reach out to me at <a href="mailto:alexigladstone@gmail.com">alexigladstone at gmail dot com</a> if you'd like to discuss anything related to my research or blogs! 
        <br><br>
        <i>I am also looking for collaborators who are available to work at least 20 hours per week. If you are an extremely motivated 10x engineer seeking to work on world-changing ML research please reach out!</i>

    </p>
  </section>
