<section id="about">
    <h2>About</h2>
    <p>
        Hello! I'm Alexi - a student fascinated by the intersection of artificial intelligence and the world around us! My area of focus includes representation learning, self-supervised learning, multimodal learning, and energy-based models.
        <br><br>
        I have a knack for self-evaluation, identifying my own mistakes, and refining my internal reasoning system to prevent future missteps. This dedication extends beyond my professional life; it fuels my personal growth as well. I have come to love the cycle of ongoing self-improvement and enjoy pushing the boundaries of my mental fortitude. I warmly welcome criticism, seeing it as an opportunity for further growth.
        <br><br>
        When I'm not delving into the latest AI advancements, I can be found exploring new knowledge domains, staying active with workouts and yoga, or seeking mindfulness through meditation. I love spending quality time with my friends and, of course, thoroughly appreciate the power of a good night's sleep.
        <br><br>
        Feel free to reach out to me at alexi@virginia.edu to chat about the latest in machine learning or to discuss how we can potentially collaborate!

    </p>
  </section>
