<section id="about">
    <h2>About</h2>
    <p>
        Hi, I'm Alexi! I'm a highly motivated and growth-oriented individual with a strong curiosity and a passion for learning. My interests lie self-supervised learning, multimodal learning, and generative AI.<br>

        In my free time I love learning, working out, playing soccer, going for walks, hanging out with friends, yoga, meditation, and of course sleeping.<br>

        My email is alexi@virginia.edu - feel free to contact me.
    </p>
  </section>