<section id="news">
    <h2>News</h2>
    <ul>
      <li>April 2024: I accepted my <b>CS PhD</b> offer at <b>UIUC</b>--I will be starting Fall 2024! </li>
      <li>February 2024: I accepted an offer to work at <b>Palantir</b> as a <b>Machine Learning Research Intern</b> for Summer 2024! I will be working with Visual Language Models in Seattle :).</li>
      <li>February 2024: Our ICLR paper <a href="https://openreview.net/forum?id=7gUrYE50Rb">EQA-MX</a> was <b>accepted as a spotlight paper (top 5%)!</b></li>
      <!-- {% for post in site.posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
        </li>
      {% endfor %} -->
    </ul>
    <!-- TODO redo but have just bullets of info, dont use posts -->
    
  </section>