<style>
  .publication-authors {
    font-weight: normal;
  }
  .publication-authors.your-name {
    font-weight: bold;
  }
  .publication-venue {
    font-weight: bold;
  }
  .manuscript-preparation {
    font-weight: bold;
  }
  .under-review {
    font-weight: bold;
  }
  .publication-block {
    border-bottom: 1px solid #ccc8cc; /* Change #000 to the desired color */
    padding-bottom: 10px; /* Space between the content and the line */
    margin-bottom: 10px; /* Space after the line */
  }
</style>

<section id="publications">
  <h2>Publications</h2>
  <ul>
    {% for publication in site.data.publications %}
    <div class="publication-block">
      <li>
        {% if publication.manuscript_preparation%}
          <span class="manuscript-preparation">[Manuscript Preparation]</span>
        {% endif %}
        {% if publication.under_review%}
          <span class="under-review">[Under Review]</span>
        {% endif %}
        {% if publication.link %}
          <a href="{{ publication.link }}">{{ publication.title }}</a>
        {% else %}
          <span>{{ publication.title }}</span>
        {% endif %}
        <br>
        {% assign authors_array = publication.authors | split: "|" %}
        {% for author in authors_array %}
          {% if author contains "Alexi Gladstone" %}
            <span class="publication-authors your-name">{{author}}</span>{% else %}
            <span class="publication-authors">{{author}}</span>
          {% endif %}
        {% endfor %}
        <br>
        <span class="publication-date">{{ publication.date | date: "%B %d, %Y" }}</span>
        <span class="publication-venue">{{ publication.venue }} </span>
      </li>
    </div>
    
    {% endfor %}

  </ul>
</section>
