<section id="services">
    <h2>Services</h2>
    <ul>
      <li>
        <h3>Reviewer</h3>
        <p>Reviewer at NeurIPS 2022 for Datasets and Benchmarks Track, papers revolved around 6D object pose and imitation learning, egocentric question answering, and an autonomous vehicle benchmarking tool</p>
      </li>
      <li>
        <h3>Research Demonstrations</h3>
        <p>Presented research to a wide variety of people ranging from elementary school students to graduate students studying linguistics</p>
      </li>
      <li>
        <h3>Robotics Team Mentor</h3>
        <p>Mentored several middle school and high school teams including team 2145Z who won the Virginia State Champsionship!</p>
      </li>
    </ul>
  </section>