<section id="services">
    <h2>Services</h2>
    <ul>
      <li>
        <h3>Reviewer</h3>
        <p>Reviewer for NeurIPS 2022 and 2023 Datasets and Benchmarks Track </p>
      </li>
      <li>
        <h3>Research Demonstrations</h3>
        <p>Presented work to entire machine learning researcher team at Palantir Technologies. Also presented to a wide variety of people including elementary school students and graduate students studying linguistics </p>
      </li>
      <li>
        <h3>Robotics Team Mentor</h3>
        <p>Mentored several middle school and high school VEX robotics teams including team 2145Z who won the Virginia State Champsionship!</p>
      </li>
    </ul>
  </section>