<section id="socials">
    <h2>Socials</h2>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/alexiglad" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      </li>
      <li>
        <a href="https://github.com/alexiglad" target="_blank" rel="noopener noreferrer">GitHub</a>
      </li>
      <!-- <li>
        <a href="https://twitter.com/alexiglad" target="_blank" rel="noopener noreferrer">Twitter</a>
    </li> -->
    <li>
      <a href="https://scholar.google.com/citations?user=j9Cx6PcAAAAJ" target="_blank" rel="noopener noreferrer">Scholar</a>
  </li>
    
    </ul>
</section>
